.toolbar {
  /* background-color: red; */
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 2.4vw;
  gap: 1.2vw;
  padding-top: 1.2vw;
}

velt-presence {
  margin-top: 0.5vh;
}