.card-grid-container {
  display: flex;
  height: 45.67vh;
  gap: 2vw;
  padding: 2vw;
}

.primary-slot {
  /* background-color: green; */
  display: flex;
  width: 66.6%;
}

.stacked-slot {
  /* background-color: aliceblue; */
  display: flex;
  flex-direction: column;
  gap: 2vw;
  width: 33.3%;
}