
@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Regular.ttf') format('truetype');
}

.app-container {
  font-family: Poppins !important;
  display: flex;
  height: 100%;
}

.sidebar {
  width: 5.96vw;
  background-color: #141416;
  height: 100%;
}

.content {
  flex: 1;
}

.toolbar {
  background-color: red;
}

.dashboard {
  padding: 1rem;
}

.cards {
  display: flex;
  gap: 1rem;
}

.hero-card {
  flex: 2;
}

.card-stack {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1rem;
}

h1, h2 {
  margin: 0;
}

table {
  width: 100%;
  border-spacing: 0;
}

.table-header {
  background-color: #F4F5F6;
  border-radius: 8px;
  height: 6vh;
}

.table-header > th {
  border-top: 1px solid #E6E8EC;
  border-bottom: 1px solid #E6E8EC !important;
}

.table-header > th:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.table-header > th:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

tr > td {
  border-bottom: 1px solid #E6E8EC;
}

tr > th {
  padding-left: 1rem;
}

tr > td {
  padding-left: 1rem;
  height: 6vh;
}

table > tr > th {
  text-align: left;
}
