.card-grid-container {
  display: flex;
  height: 45vh;
  gap: 2vw;
  padding: 2vw;
}

.primary-slot {
  /* background-color: green; */
  display: flex;
  width: 75%;
}

.stacked-slot {
  /* background-color: aliceblue; */
  display: flex;
  flex-direction: column;
  gap: 2vw;
  width: 25%;
}